
h1 {
        background: #FCC;
    }

    .Product Management {
         background: #CFC;
     }

    .whatever {
        background: #CCF;
    }

    a {
        width:10px;
        height: 10px;
    }